venv2/
cognitive-portal/
cognitive-portal-venv/
*.pyc
.idea/
server/people-counting-opencv/venv/
server/people-counting-opencv/venv2/
server/people-counting-opencv/mobilenet_ssd/
server/people-counting-opencv/output/
server/people-counting-opencv/videos/
server/people-counting-opencv/mongo_test.py

server/people_counting_opencv/mobilenet_ssd/
server/people_counting_opencv/videos/
